<!-- We include in this file all the partial code that we include into another files
 Allows us to break out the ejs files into smaller files
 You can import these files multiple times in other files -->

<header>
	<nav class="header-nav">
		<a class="header-title" href='/'>My Recipes</a>
		<ul>
			<li><a href="/recipes">Recipes</a></li>
		</ul>
	</nav>
</header>